<!DOCTYPE html>
<html lang="pt">
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <title>page not found - 404</title>
    </head>
    <body>
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-6 offset-lg-3 col-sm-6 offset-sm-3 col-12 p-3 error-main">
                    <div class="row mt-5">
                        <div class="col-lg-8 col-12 col-sm-10 offset-lg-2 offset-sm-1">
                            <h1 class="m-0">404</h1>
                            <h6>Page not found</h6>
                            <p>
                                The resource requested could not be found
                                <span class="text-info">see documentation provided for more information</span>
                                , <%=appName%>
                                </p>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

